@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", system-ui;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#container {
    height:200vh;
    background: rgb(34,193,195);
    background: linear-gradient(315deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding:40px;
}

#card {
    width:400px;
    height:400px;
    background-color: rgb(255, 255, 0);
    -webkit-box-shadow: 8px 4px 42px -16px rgba(81, 92, 55, 1);
    -moz-box-shadow: 8px 4px 42px -16px rgba(81, 92, 55, 1);
    box-shadow: 8px 4px 42px -16px rgba(81, 92, 55, 1);
    border-radius: 10px;
    position:relative;
    z-index:1;
    P {
        padding:10px 40px 40px 40px;
    }
    h2 {
        padding-left: 40px;
    }
    
    

}
#card2 {
    z-index:0;
    border:1px dashed black;
    width:400px;
    height:400px;
    border-radius: 10px;
    opacity: 0.7;
    position: relative;
    top:-400px;
}
.items {
    padding:10px;
    display: flex;
    flex-direction: row;
}
.item1 {
    width:10px;
    height:10px;
    background-color: red;
    border-radius: 10px;
    -webkit-box-shadow: inset 8px 4px 42px -16px rgba(106, 15, 15, 1);
    -moz-box-shadow: inset 8px 4px 42px -16px rgba(106, 15, 15, 1);
    box-shadow: inset 8px 4px 42px -16px rgba(106, 15, 15, 1);
    cursor:pointer;
    
}
.item2 {
    /* width:10px;
    height:10px;
    background-color: red;
    border-radius: 10px;
    margin-left:5px; */
}

/* .circle {
    position: absolute;
    width:40px;
    height:40px;
    color:white;
    background-color: rgb(255, 149, 149);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:40px;
    cursor:pointer;
    transition: 0.6s ease-out;
    z-index: 99;
}
.circle-scale{
    width:1500px;
    height:1500px;
    border-radius: 100%;
    transition: 0.6s ease-in;
    left:-700px;
    top:-900px;
}
.sm {
    
    position:absolute;
    left:0;
    z-index:999;

} */