@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    height:400vh;
    background:grey;
    color:white;

    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-section {
    margin: 100px auto 0;
  }
  
  svg {
    max-width: 600px;
    overflow: visible;
    margin-top: 60vh;
  }
  
  .ball {
    fill: white;
    visibility: hidden;
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-width: 2px;
  }
  text {
    fill: white;
    font-size: 15px;
    font-family: "Signika Negative", sans-serif; 
    visibility: hidden;
  }
  

